@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

.hover-button {
  display: inline-block;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #111111;
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
}

a.oklu::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background: gray;
  transform-origin: left;
  transition: background-size 0.7s ease-in-out;
  background-size: 0% 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #00295c, #00295c);
}

.group:hover a.relative::before {
  background-size: 100% 100%;
}

.search-input {
  width: 0;
  opacity: 0;
  pointer-events: none;
  transition: width 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.3s;
  right: 12rem; /* match your right-48 */
  position: absolute;
}
.search-input.active {
  width: 60vw; /* or your desired width */
  opacity: 1;
  pointer-events: auto;
}
